/* Set page color NOT including header */

@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  font-size: 1.1rem;

}

body { 
  height: 100%;
  width: 100%;
  margin: 0;
  font-style: normal;

  align-items: center;
  justify-content: center;

  /* background-color: rgba(0, 0, 0, 0.5); */
  /* box-shadow: inset 0 0 0 999em rgba(0, 0, 0, 0.5); */
  background-image: url("images/philly.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  color: black;
}

.couch_counsel {
  margin: auto;
  width: 50%;
  height: 50%;
  border: 5px solid #e4630d;
  background-color: #e4630d;
  margin-top: 50px;
  z-index: 25;
  text-align: center;
  align-content: center;
}

.headshot {
  margin-right: 1vh;
  display: block;
  margin-left: 2%;
  /* margin-left: 25%; */
  /* margin-right: auto; */
  height: 25vh;
  border: 5px solid black;
  border-radius: 25px;
}

.imgDiv {
  padding-top: 1vh;
}

.headshotAbout {
  /* text-align: center; */
  font-size: 1.3rem;
  /* color: white; */
  margin-right: 2%;
  border-radius: 25px;
  padding: 20px;
  background-color: grey;
  inline-size: 50%;
  overflow-wrap: break-word;
  width: 100%;
  justify-content: left;

  border: 3px solid black;
  color: white;
  /* box-shadow: 0 0 1px 0px black inset, 0 0 1px 0px black; */
  

  /* position: relative; */
  z-index: 3;
}

.aboutPanel {
  text-align: center;
  /* font-size:calc(20 + 1vw); */
  /* text-shadow: -1px -1px 0 #FFFFFF; */
  /* color: white; */
  /* margin-left: auto; */
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
  /* background-color: #315cb9; */
  background-color: grey;

  position: relative;
  z-index: 3;
}

.aboutText {
  border: 3px solid black;
  /* font-size:calc(20 + 1vw); */
  /* text-shadow: -1px -1px 0 #FFFFFF; */
  color: white;
  /* margin-left: auto; */
  margin-left: 2%;
  margin-right: 2%;
  /* margin-right: auto; */
  border-radius: 25px;
  padding: 20px;
  /* background-color: #8c2da8; */
  background-color: grey;
  inline-size: 50%;
  overflow-wrap: break-word;
  width: 96%;
  justify-content: left;

  /* position: relative; */
  z-index: 3;
  font-size: 1.5rem;
}

.aboutText a {
  /* color: #ab7d00; */
  color: #87CEEB;
  font-size: 1.5rem;
}

.aboutText li {
  text-align: justify;
}

.aboutText dd {
  text-align: justify;
}

.tipPopup {
  margin-left: 25%;
  margin-right: 25%;
  overflow-wrap: break-word;
  display: block;
  border-radius: 15px 15px 15px 15px;
  background-color: #fcfcfc;
  padding: 20px;
  flex-wrap: nowrap;
  z-index: 5;
  text-align: center;
  margin-bottom: 5px;
  border: 3px solid black;
}

.prompts {
  display: flex;
}

.pathSelector {
  width: 20%;
  height: auto;
  /* max-height: 200px; */
  /* margin-top: 20px; */
  margin-left: auto;
  margin-right: auto;
  /* inline-size: 150px; */
  overflow-wrap: break-word;
  border-radius: 15px 15px 15px 15px;
  background-color: bisque;
  display: none;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  text-align: center;
  justify-content: center;
  border: 3px solid black;
  /* align-items: center; */
}

.playButton {
  position:relative;
  background: none;
  border: none;
  color: #15e215;
  cursor: pointer;
}
.pauseButton {
  position:relative;
  background: none;
  border: none;
  color: #600000;
  cursor: pointer;
}
.muteButton {
  position:relative;
  background: none;
  border: none;
  color: #600000;
  cursor: pointer;
}

.videoControls{
  position: relative;
  border-radius: 0px 0px 25px 25px;
  border: 3px solid black;
  padding: 5px;
  background-color: bisque;

  margin: 0 auto;
  text-align: center;

  inline-size: 20vw;
  overflow-wrap: break-word;
}

.videoControls img {
  width: 2vw;
}


a {
  color: #000;
}

/* header */

.header {
  background-color: rgb(0, 0, 0);
  box-shadow: 1px 1px 4px 0 rgba(156, 27, 27, 0.1);
  position: fixed;
  width: 100%;
  z-index: 50;
  color: white;
  font-size: 1.1rem;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
}

.header li a {
  display: block;
  padding: 30px 30px;
  border-right: 1px solid #484848;
  text-decoration: none;
  color: white;
}

.header li a:hover,
.header .menu-btn:hover {
  /* background-color: #f4f4f4; */
  background-color: #484848;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
}

.header .logo h5{
  display: block;
  float: left;
  margin: 0;
  text-decoration: none;
  color: white;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: block;
  /* float: right; */
  right: 0;
  padding: 28px 20px;
  position: absolute;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}


/* Change styles for span and cancel button on extra small screens */
@media (max-width: 53em) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }

  .header .logo {
    display: block;
    float: left;
    font-size: 1.5em;
    padding: 10px 20px;
    text-decoration: none;
  }

  .header .logo h5{
    display: block;
    float: left;
    margin: 0;
    font-size: 0.6em;
    inline-size: 80%;
    text-decoration: none;
    color: white;
  }

  .videoControls img {
    width: 3vw;
  }

  .pathSelector h4{
    font-size: 10px;
  }

}



/* 48em = 768px */

@media (min-width: 53em) {
  .header li {
    float: left;
  }
  .header li a {
    /* padding: 20px 30px; */
    padding: auto;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbutton {
  background-color: #172edb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.login_container {
  width: 50%;
  height: 50%;
  display: inline-block;
  inline-size: 50%;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  
}

/* View File Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: grey;
  color: white;
}

.modal-body {
  /* padding: 2px 16px; */
  width: auto;
  height: auto;
  padding: 10px;
}

#modal_img {
  width: 100%;
  height: 100%;
}


.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.finishButton {
  position: absolute; 
  left: 0; 
  right: 0; 
  margin-left: auto; 
  margin-right: auto; 
  inline-size: 150px;
  text-align: center;
  align-content: center;
  /* margin-top: 80%; */
  margin-top: -20%;
  z-index: 100;
  /* float: right; */
  /* clear: both; */
  /* margin: 20px; */
  background-color: green;
  border: 3px solid black;
  border-radius: 15px 15px 15px 15px;
  padding: 15px 32px;
}


.embedVideo {
  /* min-height: 20%;
  max-height: 60vh; */
  /* width: 500px; */
  max-width: 25vw;
  margin-top: 100px;
  /* position: fixed; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 0;
  border: 5px solid black;
  box-shadow: 0 0 1px 0px black inset, 0 0 1px 0px black;
}

.aboutDiv {
  margin-left: 2%;
  margin-right: 2%;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: grey;
  border-radius: 15px 15px 15px 15px;
  justify-content: center;
  border: 3px solid black;
}

.dev-container {
  width: auto;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  inline-size: 300px;
  text-align: center;
  flex-direction: column;
  overflow-wrap: break-word;
  z-index: 3;
  position: relative;
  

  text-align: center;
  align-items: center;
}

.dev-container a {
  color: #87CEEB;
}

#continueButton {
  background-color: white;
  border-radius: 15px 15px 15px 15px;
  /* color: black; */
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px 15px 15px 15px;
  /* display: flex;
  justify-content: center; */
  margin-top: 5px;
  margin-bottom: 5px;
  border: 3px solid black;
}


.button-center {
  text-align: center;
}

.switch_container {
  height: calc(100% - 2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.switch {
  position: relative;
  overflow: hidden;
  width: 7.5rem;
  height: 3rem;

}

.switch input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
  opacity: 0;
}

.switch label {
  cursor: pointer;
}

.background {
  z-index: 1;
  position: absolute;
  width: 6.5rem;
  height: 3rem;
  border-radius: 2.5rem;
  border: 0.25rem solid #202020;
  background: linear-gradient(to right, #484848 0%,#202020 100%);
  transition: all 0.3s;
}

.imgSwitch {
  width: 100%;
}

.sun-moon {
  z-index: 5;
  position: absolute;
  left: 0;
  display: inline-block;
  height: 2rem;
  width: 2rem;
  margin: 0.5rem;
  background: #FFFDF2;
  border-radius: 50%;
  transition: all 0.5s ease;
  
  /* Default to Moon */
  border: 0.25rem solid #797a70;
}

/* Circle When Switched to Day mode */
.switch input:checked ~ .sun-moon {
  left: calc(100% - 4rem);
  background: #F5EC59;
  border-color: #E7C65C;
}


/* Surrounding Border of Switch Toggle */
.switch input:checked ~ .background {
  border: 0.25rem solid #78C1D5;
  background: linear-gradient(to right, #78C1D5 0%, #ffffff 100%);
}

.switch input:checked ~ .header a{
  color: white;
  background: black;
}

.dark {
  background-color: black;
  color: whitesmoke;
  transition: 0.75s all ease;
}

.light {
  background-color: whitesmoke;
  color: black;
  transition: 0.75s all ease;
}

