/* Set page color NOT including header */
* {
  box-sizing: border-box;
}

body { 
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: Helvetica, sans-serif;
  align-items: center;
  justify-content: center;

  /* background-color: rgba(0, 0, 0, 0.5); */
  /* box-shadow: inset 0 0 0 999em rgba(0, 0, 0, 0.5); */
  background-image: url("images/philly_compressed.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.couch_counsel {
  margin: auto;
  width: 50%;
  height: 50%;
  border: 5px solid #e4630d;
  background-color: #e4630d;
  margin-top: 50px;
  z-index: 25;
  text-align: center;
  align-content: center;
}

.headshot {
  margin-right: 1vh;
  display: block;
  margin-left: 2%;
  /* margin-left: 25%; */
  /* margin-right: auto; */
  height: 25vh;
  border: 5px solid #e4630d;
  border-radius: 25px;
}

.imgDiv {
  padding-top: 1vh;
}

.headshotAbout {
  /* text-align: center; */
  font-family: "Verdana";
  font-size:calc(20 + 1vw);
  font-weight: 900;
  color: white;
  margin-right: 2%;
  border-radius: 25px;
  padding: 20px;
  background-color: grey;
  inline-size: 50%;
  overflow-wrap: break-word;
  width: 100%;
  justify-content: left;
  

  /* position: relative; */
  z-index: 3;
}

.aboutPanel {
  text-align: center;
  font-family: "Verdana";
  font-size:calc(20 + 1vw);
  font-weight: 900;
  /* text-shadow: -1px -1px 0 #FFFFFF; */
  color: white;
  /* margin-left: auto; */
  margin-right: auto;
  border-radius: 25px;
  padding: 20px;
  /* background-color: #315cb9; */
  background-color: grey;

  position: relative;
  z-index: 3;
}

.aboutText {
  font-family: "Verdana";
  font-size:calc(20 + 1vw);
  font-weight: 900;
  /* text-shadow: -1px -1px 0 #FFFFFF; */
  color: white;
  /* margin-left: auto; */
  margin-left: 2%;
  margin-right: 2%;
  /* margin-right: auto; */
  border-radius: 25px;
  padding: 20px;
  /* background-color: #8c2da8; */
  background-color: grey;
  inline-size: 50%;
  overflow-wrap: break-word;
  width: 96%;
  justify-content: left;

  /* position: relative; */
  z-index: 3;
}

.aboutText a {
  /* color: #ab7d00; */
  color: #e3c164;
}

.aboutText li {
  text-align: justify;
}

.aboutText dd {
  text-align: justify;
}

.tipPopup {
  margin-left: 25%;
  margin-right: 25%;
  overflow-wrap: break-word;
  display: block;
  border-radius: 15px 15px 15px 15px;
  background-color: #fcfcfc;
  padding: 20px;
  flex-wrap: nowrap;
  z-index: 5;
  text-align: center;
  margin-bottom: 5px;
}

.pathSelector {
  width: auto;
  height: 10vh;
  /* margin-top: 20px; */
  margin: 2px;
  inline-size: 200px;
  overflow-wrap: break-word;
  border-radius: 15px 15px 15px 15px;
  background-color: #fcfcfc;
  display: none;
  flex-wrap: wrap;
  position: relative;
  z-index: 5;
  text-align: center;
  align-items: center;
}

.playButton {
  position:relative;
  background: none;
  border: none;
  color: #15e215;
  font-family: Verdana;
  font-size:calc(12 + 1vw);
  font-weight: bold;
  cursor: pointer;
}
.pauseButton {
  position:relative;
  background: none;
  border: none;
  color: #600000;
  font-family: Verdana;
  font-size:calc(12 + 1vw);
  font-weight: bold;
  cursor: pointer;
}
.muteButton {
  position:relative;
  background: none;
  border: none;
  color: #600000;
  font-family: Verdana;
  font-size:calc(12 + 1vw);
  font-weight: bold;
  cursor: pointer;
}
.videoControls{
  position: relative;
  /* display: inline-block; */
  /* z-index: 5; */
  min-width: 20%;
  max-width: 70%;
  /* width: auto; */
  width: 480px;
  border-radius: 0px 0px 25px 25px;
  padding: 5px;
  background-color: #ffffff;

  margin: 0 auto;
  text-align: center;

  inline-size: 200px;
  overflow-wrap: break-word;
}


a {
  color: #000;
}

/* header */

.header {
  background-color: #fff;
  box-shadow: 1px 1px 4px 0 rgba(0,0,0,.1);
  position: fixed;
  width: 100%;
  z-index: 3;
}

.header ul {
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: hidden;
  background-color: #fff;
}

.header li a {
  display: block;
  padding: 20px 20px;
  border-right: 1px solid #f4f4f4;
  text-decoration: none;
}

.header li a:hover,
.header .menu-btn:hover {
  background-color: #f4f4f4;
}

.header .logo {
  display: block;
  float: left;
  font-size: 2em;
  padding: 10px 20px;
  text-decoration: none;
}

/* menu */

.header .menu {
  clear: both;
  max-height: 0;
  transition: max-height .2s ease-out;
}

/* menu icon */

.header .menu-icon {
  cursor: pointer;
  display: inline-block;
  float: right;
  padding: 28px 20px;
  position: relative;
  user-select: none;
}

.header .menu-icon .navicon {
  background: #333;
  display: block;
  height: 2px;
  position: relative;
  transition: background .2s ease-out;
  width: 18px;
}

.header .menu-icon .navicon:before,
.header .menu-icon .navicon:after {
  background: #333;
  content: '';
  display: block;
  height: 100%;
  position: absolute;
  transition: all .2s ease-out;
  width: 100%;
}

.header .menu-icon .navicon:before {
  top: 5px;
}

.header .menu-icon .navicon:after {
  top: -5px;
}

/* menu btn */

.header .menu-btn {
  display: none;
}

.header .menu-btn:checked ~ .menu {
  max-height: 240px;
}

.header .menu-btn:checked ~ .menu-icon .navicon {
  background: transparent;
}

.header .menu-btn:checked ~ .menu-icon .navicon:before {
  transform: rotate(-45deg);
}

.header .menu-btn:checked ~ .menu-icon .navicon:after {
  transform: rotate(45deg);
}

.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
  top: 0;
}

/* 48em = 768px */

@media (min-width: 48em) {
  .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  .header .logo {
    display: block;
    float: left;
    font-size: 2em;
    padding: 10px 20px;
    text-decoration: none;
  }
}



input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.loginbutton {
  background-color: #172edb;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
}

button:hover {
  opacity: 0.8;
}

.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

img.avatar {
  width: 40%;
  border-radius: 50%;
}

.container {
  padding: 16px;
}

span.psw {
  float: right;
  padding-top: 16px;
}

.login_container {
  width: 50%;
  height: 50%;
  display: inline-block;
  inline-size: 50%;
  position: relative;
  margin-left: 25%;
  margin-right: 25%;
  
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
}

/* View File Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 10; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: black;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
  padding-top: 10px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: grey;
  color: white;
}

.modal-body {
  /* padding: 2px 16px; */
  width: auto;
  height: auto;
  padding: 10px;
}

#modal_img {
  width: 100%;
  height: 100%;
}


.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.embedVideo {
  min-width: 20%;
  max-width: 60%;
  margin-top: 50px;
  /* position: relative; */
  display: flex;
  margin-left: auto;
  margin-right: auto;
  border-radius: 25px;
  margin-bottom: 0;
}

.aboutDiv {
  margin-left: 2%;
  margin-right: 2%;
  display: inline-flex;
  flex-wrap: wrap;
  background-color: grey;
  border-radius: 15px 15px 15px 15px;
  justify-content: left;
}

.dev-container {
  width: auto;
  margin: 10px;
  padding: 20px;
  inline-size: 250px;
  text-align: center;
  flex-direction: column;
  overflow-wrap: break-word;
  z-index: 3;
  position: relative;
  

  text-align: center;
  align-items: center;
}

#continueButton {
  background-color: #ffffff;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 15px 15px 15px 15px;

}